<h2>Admin Settings</h2>

<table class="table table-bordered"class="table table-hover">
  <li><%= link_to "View all Users", users_path %></li>
  <li><%= link_to "Manage Roles", users_path %></li>
  <li><%= link_to "Export Report", export_report_users_path %></li>
</table>