<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 customerTicket">
  <h1>Admin Settings</h1>
  <ul class="settings">
    <li><%= link_to "View all Users", users_path %></li>
    <li><%= link_to "Manage Roles", users_path %></li>
    <li><%= link_to "Export Report", export_report_users_path %></li>
   </ul>
</div>