html
  body
    div class="row"
      div align="center" 
        h1 Welcome to Crossover Customer Support
        h4 All Users
        table class="table table-bordered"class="table table-hover"

          thead
            tr
              th Username
              th Email
          tbody
          - @user.each do |user|
            tr
              td 
                = link_to user.username, user
              td
                = link_to user.email, user
    	              
          = paginate @user
          = page_entries_info @user