<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<h2>Status - Open/Reopen Tickets</h2>

<table class="table table-bordered"class="table table-hover">
  <%= render 'shared/ticket_index_body', status: [1,4] %>
</table>

<h2>Status - Closed/Resolved Tickets</h2>

<table class="table table-bordered"class="table table-hover">
  <%= render 'shared/ticket_index_body', status: [2,3] %>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
