<footer class="footer navbar-fixed-bottom">
  <small>
       The <a href="#">Crossover Customer Support</a>
        by <a href="#">copyrigh@2014</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>